body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4b191e;
}

h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 800;
    color: #eee;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

a {
    color: #4b191e;;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

#main-bio,
#contact-info,
#bio-image {
    float: left;
}

#main-bio {
    width: 70%;
}

#contact-info {
    width: 30%;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid #333333;
    padding: 5px;
}